.Button {
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #2196F3;
    outline: none;
    transition: background 0.1s linear;
    margin: 10px;
}
.Button-Accent {
    color:  #ec407a;
}
.Button:hover {
    cursor: pointer;
    background-color: rgba(20, 77, 100, 0.1);
}
.Button:active {
    background-color: rgba(20, 77, 100, 0.2);
}
.Button:disabled {
    background-color: transparent;
    color: lightgrey;
}

.Button-Big {
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 25px;
 }