html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#player {
    width: calc(30% - 2px);
    height: calc(100% - 2em);
    background-color: red;
}

#ctxarea {
    width: calc(70% - 2px);
    height: calc(100% - 2em);
    background-color: green;
}

#news {
    width: 100%;
    min-height: 2em;
    height: 2em;
    max-height: 2em;
    background-color: blue;
}

