html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#player {
    width: calc(30% - 2px);
    height: calc(100% - 2em - 10px);
}

#ctxarea {
    width: calc(70% - 2px);
    height: calc(100% - 2em);
    display: inline-flex;
    
}

#news {
    width: 100%;
    height: calc(2em - 5px);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: auto;
}

.player-main {
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-stats {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(30% - 10px);
}

.player-stats-item {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 2px;
    transition: background 0.1s linear;
}

.player-stats-item:hover {
    background-color: rgba(0,1,0,0.08);
}

.player-stock {
    width: calc(100% - 10px);
    height: calc(70% - 30px);
    padding: 5px;
}

.player-stock-general {
    display: flex;
    justify-content: space-between;
    height: 1em;
}

.player-stock-list-item {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
    transition: background 0.1s linear;
}

.player-stock-list-item:hover {
    background-color: rgba(0,1,0,0.08);
}

.player-stock-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 1em - 18px);
}

.ctx_body {
    width: 100%;
    height: calc(100% - 20px);
    margin: 10px;
    position: relative;
    transition: left 0.3s ease-in-out;
    left: 0px;
    display: flex;
}

.ctx_template_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ctx_template_header {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.ctx_template_content {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}