html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#player {
    width: calc(30% - 2px);
    height: calc(100% - 2em - 10px);
}

#ctxarea {
    width: calc(70% - 2px);
    height: calc(100% - 2em);
}

#news {
    width: 100%;
    min-height: 2em;
    height: 2em;
    max-height: 2em;
}

.player-main {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-stats {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(30% - 10px);
}

.player-stats-item {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 2px;
}

.player-stats-item:hover {
    background-color: rgba(0,1,0,0.08);
}

.player-stock {
    width: calc(100% - 10px);
    height: calc(70% - 30px);
    padding: 5px;
}

.player-stock-general {
    display: flex;
    justify-content: space-between;
    height: 1em;
}

.player-stock-list-item {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
}

.player-stock-list-item:hover {
    background-color: rgba(0,1,0,0.08);
}

.player-stock-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 1em - 18px);
}